<div class="tile is-vertical is-8">
  <div class="tile is-parent">
    <article class="tile is-child notification is-warning">
      <div class="content tabs is-boxed is-toggle is-fullwidth" x-data="{ currentTab: 'tab1' }"
                            id="tabs" data-turbo-permanent>
        <ul>
          <li x-bind:class="{ 'is-active': currentTab ===
                              'tab1' }" x-on:click="currentTab= 'tab1'">
            <a>
              Pictures
            </a>
          </li>
          <li x-bind:class="{ 'is-active': currentTab ===
                              'tab2' }" x-on:click="currentTab= 'tab2'">
            <a>
              Music
            </a>
          </li>
          <li x-bind:class="{ 'is-active': currentTab ===
                              'tab3' }" x-on:click="currentTab= 'tab3'">
            <a>
              Videos
            </a>
          </li>
          <li x-bind:class="{ 'is-active': currentTab ===
                              'tab4' }" x-on:click="currentTab= 'tab4'">
            <a>
              Documents
            </a>
          </li>
        </ul>
      </div>
    </article>
  </div>
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <article class="tile is-child notification is-primary">
        <p class="title">
          Nesting Data
        </p>
        <div class="control" x-data="model.Comp1()">
          <button x-text="c1" @click="click()"  class="button is-info"></button>
          <button x-data="model.Comp2()" x-text="c2"  @click="click()"  class="button is-info"></button>
          <button x-data x-text="$store.myglobal.c1"  class="button is-warning" disabled></button>
        </div>
      </article>
      <article class="tile is-child notification is-primary">
        <p class="title">
          Sibling Data
        </p>
        <div class="control">
          <button x-text="c1" @click="click()"  class="button is-info" x-data="model.Comp1()" @set-c3.window="c3 = $event.detail"></button>
          <button x-data="model.Comp3()" x-text="c3"  @click="click()"  class="button is-info" @set-c1.window="c1 = $event.detail"></button>
        </div>
      </article>
      <article class="tile is-child notification is-primary">
        <p class="title">
          Global Data
        </p>
        <div class="control">
          <button x-text="$store.myglobal.c1" @click="$store.myglobal.clickme()"  class="button is-info" x-data></button>
        </div>
      </article>
      <article class="tile is-child notification is-warning">
        <p class="title">
          Bottom
        </p>
        <p class="subtitle">
          Bottom tile1
        </p>
      </article>
    </div>
    <div class="tile is-parent is-vertical">
      <article class="tile is-child notification is-info">
        <p class="title">
          Dropdown
        </p>
        <div class="dropdown" x-data="{ open: false, items: [{name: 'Item 1', id: 1}, {name: 'Item 2', id: 2}] }" 
                                x-bind:class="{ 'is-active': open }" x-on:click.away="open=false" id="dropdown1"
                                data-turbo-permanent>
          <div class="control">
            <button x-on:click="items.push({name: `New item ${items[items.length-1].id+1}`, id: items[items.length-1].id+1})" class="button is-primary">
              Add
            </button>
            <button x-on:click="if (items.length > 1) { items.pop() }" class="button is-warning">
              Remove
            </button>
            <button x-on:click="open=!open" class="dropdown-trigger button" aria-haspopup="true"
                                        aria-controls="dropdown-menu">
              <span>
                Items
              </span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <template x-for="item in items" :key="item.id">
                <a class="dropdown-item" @click="item.isActive = !item.isActive"
                                                x-bind:class="{ 'is-active' : item.isActive }" x-text="item.name"></a>
              </template>
            </div>
          </div>
        </div>
      </article>
      <article class="tile is-child notification is-info">
        <p class="title">
          Dropdown Navigation
        </p>
        <div class="dropdown" x-data="model.CompPermanent()" 
                                x-bind:class="{ 'is-active': open }" x-on:click.away="open=false" id="dropdown2"
                                data-turbo-permanent>
          <div class="dropdown-trigger">
            <button x-on:click="open=!open" class="button" aria-haspopup="true"
                                        aria-controls="dropdown-menu">
              <span>
                Dropdown button
              </span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <template x-for="item in data.items" :key="item.id">
                <a class="dropdown-item" :href="`/p${item.id}/`" @click="item.isActive = !item.isActive"
                                                x-bind:class="{ 'is-active' : item.isActive }" x-text="item.name"></a>
              </template>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile notification is-success">
      <div class="content">
        <p class="title">
          {{ .Title }}
        </p>
        <p class="subtitle">
          {{ .Content }}
        </p>
        <div class="content">
          <a href="https://agitated-kilby-da786e.netlify.com/">
            View on Netlify
          </a>
          |
          <a
                                  href="https://github.com/bep/hugo-alpine-test">
            View on GitHub
          </a>
        </div>
      </div>
    </article>
  </div>
</div>
